* {
  margin: 0;
}

@mixin flexLayout($direction) {
  display: flex;
  flex-flow: $direction;
}
@mixin row($direction) {
  justify-content: $direction;
}
@mixin column($direction) {
  align-items: $direction;
}
@mixin gridCenter {
  display: grid;
  place-items: center;
}
@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}
@mixin position($pos, $index) {
  position: $pos;
  z-index: $index;
}
$background-prim: hsl(0, 0%, 99%);
$background-sec: hsl(0, 0%, 93%);
$font-prim: "Rubik", sans-serif;
$font-sec: "Fuzzy Bubbles", cursive;
