@import "./_presets.scss";
@media (min-width: 1028px) {
  #header {
    @include flexLayout(row);
    @include row(space-between);
    @include position(fixed, 99);
    gap: 3.5rem;
    width: 100%;
    height: 75px;
    padding: 0 1rem;
    background: transparent;

    // #title {
    //   @include dimension(140px, 35px);
    //   margin: auto;
    //   background: url(../assets/logo5X.png) center no-repeat;
    //   background-size: cover;
    // }
    img {
      height: 100%;
      width: 100px;
    }
    .switchtabs {
      @include gridCenter;
      margin-right: auto;

      .footerContainer {
        @include flexLayout(row);
        padding: 0.5rem;
        gap: 3rem;

        .links {
          font: 400 0.8rem $font-prim;
          color: hsla(0, 0%, 80%, 0.6);
        }
        .links:hover,
        .links:focus {
          color: #008000;
        }
      }
    }
    #user {
      @include gridCenter;
      @include dimension(2rem, 2rem);
      margin: auto;
      font-size: 1.5rem;
      color: #008000;
      border-radius: 12.2rem;
      border: 1px dashed hsla(0, 0%, 80%, 0.664);
    }
    #user:hover {
      transform: scale(0.98);
      transition: all 0.3s ease-in;
      border: 1px dotted hsla(0, 0%, 80%, 0.664);
    }
  }
  #header:hover {
    background: hsla(0, 0%, 30%, 0.274);
    transition: all 0.4s ease-in-out;
  }
  #footer {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  //  HERE IS THE HEADER STYLING
  #header {
    @include flexLayout(row);
    @include row(space-between);
    @include column(center);
    @include position(relative, 99);
    width: 100%;
    padding: 0 2.5rem;
    background: transparent;

    #hiddenMob {
      display: none;
    }
    #title {
      @include gridCenter;
      @include dimension(140px, 35px);
      background: url(../assets/logo5X.png) center;
    }
    #user {
      @include gridCenter;
      @include dimension(2rem, 2rem);
      margin: auto;
      font-size: 1.5rem;
      border-radius: 12.2rem;
      color: #008000;
    }
  }
  // HERE IS THE FOOTER STYLING
  #footer {
    @include flexLayout(row);
    @include row(center);
    @include position(fixed, 99);
    width: 50%;
    padding: 0.3rem;
    border-radius: 1.8rem;
    background: #00800054;
    bottom: 0.4rem;

    .footerContainer {
      @include flexLayout(row);
      @include row(space-around);
      width: 100%;
      gap: 6rem;

      #home {
        @include gridCenter;
        border-radius: 1.3rem;
        outline: 1px solid rgba(0, 0, 0, 0.521);
        background: hsla(0, 0%, 50%, 0.6);
        overflow: hidden;
        img {
          padding: 0.4rem;
        }
      }
      #search {
        @include gridCenter;
        border-radius: 1.3rem;
        background: hsla(0, 0%, 50%, 0.6);
        outline: 1px solid rgba(0, 0, 0, 0.521);
        overflow: hidden;
        img {
          padding: 0.4rem;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  //  HERE IS THE HEADER STYLING
  #header {
    @include flexLayout(row);
    @include row(space-between);
    @include column(center);
    @include position(fixed, 2);
    width: 100%;
    height: 75px;
    padding: 0 0.3rem;
    top: 0;
    background: transparent;

    #hiddenMob {
      display: none;
    }
    img {
      height: 100%;
      width: 30%;
    }
    // #title {
    //   @include gridCenter;
    //   @include dimension(140px, 35px);
    //   background: url(../assets/logo5X.png) center;
    // }
    #user {
      @include gridCenter;
      @include dimension(2rem, 2rem);
      margin: auto;
      font-size: 1.5rem;
      border-radius: 12.2rem;
      color: #008000;
    }
  }

  // HERE IS THE FOOTER STYLING
  #footer {
    @include flexLayout(row);
    @include row(center);
    @include position(fixed, 99);
    width: 85%;
    padding: 0.3rem;
    border-radius: 1.8rem;
    background: #00800054;
    bottom: 0.2rem;

    .footerContainer {
      @include flexLayout(row);
      @include row(space-around);
      width: 100%;
      gap: 6rem;

      #home {
        @include gridCenter;
        border-radius: 1.3rem;
        overflow: hidden;
        background: hsla(0, 0%, 10%, 0.6);
        outline: 1px solid rgba(0, 0, 0, 0.521);
        img {
          padding: 0.4rem;
        }
      }
      #search {
        @include gridCenter;
        border-radius: 1.3rem;
        outline: 1px solid rgba(0, 0, 0, 0.521);
        overflow: hidden;
        background: hsla(0, 0%, 10%, 0.6);
        img {
          padding: 0.4rem;
        }
      }
    }
  }
}
