@import "./_presets.scss";
@media (min-width: 1024px) {
  #header {
    @include flexLayout(row);
    @include row(space-between);
    gap: 3.5rem;
    width: 100%;
    padding: 0 1rem;
    background: transparent;
    position: relative;
    z-index: 99;

    #title {
      @include gridCenter;
      width: 140px;
      height: 35px;
      background: url(../assets/logo5X.png) center;
      position: relative;
    }

    .switchtabs {
      @include gridCenter;
      margin-right: auto;

      .footerContainer {
        @include flexLayout(row);
        padding: 0.5rem;
        gap: 3rem;

        .links{
          font: 400 .8rem $font-prim;
          color:hsla(0, 0%, 80%, 0.6);
        }
        .links:hover,
        .links:focus {
          color: #008000;
        }
      }
    }
    #user {
      @include gridCenter;
      margin: auto;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      border-radius: 12.2rem;
      border: 1px solid #ddd;
    }
  }
  #footer {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  //  HERE IS THE HEADER STYLING
  #header {
    @include flexLayout(row);
    @include row(space-between);
    @include column(center);
    width: 100%;
    padding: 0 2.5rem;
    position: relative;
    z-index: 99;
    background: transparent;

    #hiddenMob {
      display: none;
    }
    #title {
      @include gridCenter;
      width: 140px;
      height: 35px;
      background: url(../assets/logo5X.png) center;
      position: relative;
    }
    #user {
      @include gridCenter;
      margin: auto;
      width: 2rem;
      height: 2rem;
      // padding: .5rem 0;
      font-size: 1.5rem;
      border-radius: 12.2rem;
      color: #008000;
    }
  }
  // HERE IS THE FOOTER STYLING
  #footer {
    @include flexLayout(row);
    @include row(center);
    width: 50%;
    padding: 0.3rem;
    border-radius: 1.8rem;
    // background: hsla(0, 0%, 0%, 0.6);
    background: #00800054;
    position: fixed;
    z-index: 99;
    bottom: 0.4rem;

    .footerContainer {
      @include flexLayout(row);
      @include row(space-around);
      width: 100%;
      gap: 6rem;

      #home {
        @include gridCenter;
        border-radius: 1.3rem;
        overflow: hidden;
        position: relative;
        background: hsla(0, 0%, 50%, 0.6);
        outline: 1px solid rgba(0, 0, 0, 0.521);
        img {
          padding: 0.4rem;
        }
      }
      #search {
        @include gridCenter;
        border-radius: 1.3rem;
        overflow: hidden;
        background: hsla(0, 0%, 50%, 0.6);
        outline: 1px solid rgba(0, 0, 0, 0.521);
        img {
          padding: 0.4rem;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  //  HERE IS THE HEADER STYLING
  #header {
    @include flexLayout(row);
    @include row(space-between);
    @include column(center);
    width: 100%;
    padding: 0 0.3rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background: transparent;

    #hiddenMob {
      display: none;
    }

    #title {
      @include gridCenter;
      width: 140px;
      height: 35px;
      background: url(../assets/logo5X.png) center;
      position: relative;
    }
    #user {
      @include gridCenter;
      margin: auto;
      width: 2rem;
      height: 2rem;
      // padding: .5rem 0;
      font-size: 1.5rem;
      border-radius: 12.2rem;
      position: relative;
      color: #008000;
    }
  }

  // HERE IS THE FOOTER STYLING
  #footer {
    @include flexLayout(row);
    @include row(center);
    width: 85%;
    padding: 0.3rem;
    border-radius: 1.8rem;
    // background: hsla(0, 0%, 0%, 0.6);
    background: #00800054;
    position: fixed;
    z-index: 99;
    bottom: 0.2rem;

    .footerContainer {
      @include flexLayout(row);
      @include row(space-around);
      width: 100%;
      gap: 6rem;

      #home {
        @include gridCenter;
        border-radius: 1.3rem;
        overflow: hidden;
        position: relative;
        // background: hsla(0, 0%, 50%, 0.6);
        background: hsla(0, 0%, 10%, 0.6);
        outline: 1px solid rgba(0, 0, 0, 0.521);
        img {
          padding: 0.4rem;
        }
      }
      #search {
        @include gridCenter;
        border-radius: 1.3rem;
        overflow: hidden;
        // background: hsla(0, 0%, 50%, 0.6);
        background: hsla(0, 0%, 10%, 0.6);
        outline: 1px solid rgba(0, 0, 0, 0.521);
        img {
          padding: 0.4rem;
        }
      }
    }
  }
}
