@import "./_presets.scss";
@media (max-width: 500px) {
  #main {
    @include flexLayout(column);
    @include column(center);
    @include row(center);
    gap: 2rem;
    height: 90vh;
    #main-img {
      @include dimension(100vw, 100vh);
      background-size: cover;
      @include position(absolute, 2);
      top: 0;
    }
    #sec1 {
      @include position(relative, 2);
      padding: 1rem;
      height: 10rem;
      top: 4rem;
      p {
        font: 300 1rem $font-prim;
        color: hsla(0, 0%, 65%, 0.6);
      }
    }
    #mobilehidden {
      display: none;
    }
    #sec2 {
      @include flexLayout(row);
      @include row(flex-start);
      @include dimension(100%, 10rem);
      @include position(relative, 2);
      gap: 0.85rem;
      margin: -1rem 0;
      padding: 0 1rem;
      top: 8%;
      overflow-x: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      position: relative;
      top: 5.5rem;

      .cardCover {
        @include gridCenter;
        width: 7rem;
        gap: 0.4rem;
        // padding: 0.7rem;
        margin: auto 1rem;
        border-radius: 0.5rem;

        .image1 {
          @include gridCenter;
          @include dimension(4rem, 4rem);
          font-size: 1.5rem;
          padding: 1rem;
          color: #008000;
          outline: 1px solid #00800081;
          border-radius: 2rem;
          border: 1px solid hsla(0, 0%, 0%, 0.6);
        }
        .image1:hover,
        .image1:focus {
          transform: scale(0.98);
          transition: all 0.4s ease-in-out;
          border: 1px solid transparent;
          outline: 1px solid transparent;
        }
        .imageDesc {
          @include gridCenter;
          width: 5rem;
          font: 700 0.89rem $font-sec;
          color: #404040;
          outline: 1px solid #00800081;
          border-radius: 0.5rem;
        }
      }
    }
    #sec2::-webkit-scrollbar {
      @include dimension(0, 0);
    }
    #sec3 {
      @include flexLayout(column);
      @include row(center);
      @include column(flex-start);
      @include position(relative, 2);
      gap: 2rem;
      width: 100%;
      padding: 1rem 0;
      top: 10%;

      h2 {
        @include dimension(70%, 20%);
        margin: 0 1rem;
        font: 500 1rem $font-prim;
        color: hsla(0, 0%, 80%, 0.6);
      }
      .stack {
        @include flexLayout(row);
        @include row(center);
        @include column(center);
        @include dimension(99%, 10rem);
        margin: 0 auto;
        gap: 0.5rem;
        list-style: none;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    @include flexLayout(column);
    @include column(center);
    gap: 4rem;
    height: 100vh;
    background: hsl(0, 0%, 10%);
    #mobilehidden {
      display: none;
    }
    #main-img {
      @include dimension(100vw, 100vh);
      @include position(absolute, 2);
      background-size: cover;
      top: 0;
    }
    #sec1 {
      @include position(relative, 5);
      padding: 1.5rem 1rem;
      width: 90%;
      p {
        width: 75%;
        font: 300 1rem $font-prim;
        color: hsla(0, 0%, 64%, 0.6);
        line-height: 2rem;
      }
    }
    #sec2 {
      @include flexLayout(row);
      @include row(flex-start);
      @include dimension(100%, 10rem);
      @include position(relative, 5);
      gap: 3.5rem;
      padding: 0 3rem;
      overflow-x: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      .cardCover {
        @include gridCenter;
        @include dimension(8rem, 8rem);
        gap: 0.4rem;
        padding: 1rem;
        border-radius: 0.9rem;
        margin: auto 0;
        .image1 {
          @include gridCenter;
          @include dimension(4rem, 4rem);
          font-size: 2rem;
          color: #008000;
          outline: 1px solid #00800081;
          padding: 1rem;
          border-radius: 3rem;
          border: 1px solid hsla(0, 0%, 0%, 0.6);
        }
        .image1:hover,
        .image1:focus {
          transform: scale(0.98);
          transition: all 0.4s ease-in-out;
          border: 1px solid transparent;
          outline: 1px solid transparent;
        }
        .imageDesc {
          @include gridCenter;
          width: 5rem;
          font: 700 0.89rem $font-sec;
        }
      }
    }
    #sec2::-webkit-scrollbar {
      @include dimension(0, 0);
    }
    #sec3 {
      @include flexLayout(column);
      @include row(flex-start);
      @include position(relative, 5);
      gap: 2rem;
      padding: 1rem;
      width: 90%;
      h2 {
        width: 70%;
        margin: 0 1rem;
        font: 500 1.3rem $font-prim;
        color: hsla(0, 0%, 65%, 0.6);
      }
      .stack {
        @include flexLayout(row wrap);
        @include row(center);
        gap: 3rem;
        width: 100%;
        padding: 1rem 2rem;
        margin: 0 auto;
        border-radius: 1rem;
        border: 1px solid #00800054;
        li .newList {
          @include dimension(8rem, 8rem);
          list-style: none;
        }
        img .newImage {
          @include gridCenter;
          @include dimension(100%, 100%);
          border-radius: 1rem;
          border: 1px solid hsla(0, 0%, 0%, 0.6);
          overflow: hidden;
        }
        li:nth-child(1) {
          @include dimension(6rem, 6rem);
        }
        li:nth-child(3) {
          @include dimension(6rem, 6rem);
        }
        li:nth-child(6) {
          @include dimension(6rem, 6rem);
        }
        li:nth-child(2) {
          @include dimension(10rem, 10rem);
        }
        li:nth-child(4) {
          @include dimension(10rem, 10rem);
        }
        li:nth-child(5) {
          @include dimension(8rem, 8rem);
        }
      }
    }
  }
}
@media (min-width: 1028px) {
  #main {
    @include flexLayout(row wrap);
    @include row(center);
    gap: 2rem;
    background: hsl(0, 0%, 10%);
    #main-img {
      @include dimension(100vw, 74%);
      @include position(absolute, 2);
      background-size: cover;
      top: 0;
    }
    #sec1 {
      @include flexLayout(column);
      @include column(center);
      @include position(relative, 5);
      width: 80%;
      flex: 40%;
      margin: 6rem 0;
      padding: 0.5rem;
      p {
        width: 80%;
        font: 400 0.87rem $font-prim;
        line-height: 2rem;
        color: hsla(0, 0%, 80%, 0.6);
      }
    }
    #mobilehidden {
      @include flexLayout(column);
      flex: 40%;
      padding: 0.5rem 2rem;
      img {
        @include dimension(80%, 80%);
      }
    }
    #sec2 {
      @include flexLayout(row);
      @include row(space-around);
      @include dimension(100%, 10rem);
      @include position(relative, 5);
      flex: 90%;
      padding: 1.4rem;
      .cardCover {
        @include flexLayout(row);
        @include row(center);
        @include column(center);
        gap: 0.5rem;
        padding: 0.5rem;
        height: 5rem;
        .image1 {
          @include gridCenter;
          @include dimension(4rem, 4rem);
          border-radius: 2rem;
          font-size: 2.5rem;
          color: #008000;
          outline: 1px solid #00800081;
        }
        .image1:hover,
        .image1:focus {
          transform: scale(0.98);
          transition: all 0.4s ease-in-out;
          border: 1px solid transparent;
          outline: 1px solid transparent;
        }
        .imageDesc {
          @include gridCenter;
          @include dimension(5rem, 40%);
          font: 700 1rem $font-sec;
          color: hsla(0, 0%, 80%, 0.6);
          outline: 1px solid #00800081;
          border-radius: 0.7rem;
        }
      }
    }
    // #sec3 {
    //   @include flexLayout(column);
    //   @include row(center);
    //   @include position(relative, 5);
    //   gap: 1.5rem;
    //   flex: 90%;
    //   padding: 2rem;
    //   h2 {
    //     margin: 0 2.5rem;
    //     width: 50%;
    //     font: 500 1.3rem $font-prim;
    //     color: hsla(0, 0%, 80%, 0.6);
    //   }
    //   .stack {
    //     @include flexLayout(row wrap);
    //     @include row(space-around);
    //     gap: 2rem;
    //     width: 80%;
    //     margin: 0 auto;
    //     padding: 0.5rem;
    //     list-style: none;

    //     .newList {
    //       @include dimension(15rem, 15rem);
    //       list-style: none !important;
    //     }
    //     .newImage {
    //       @include gridCenter;
    //       @include dimension(100%, 100%);
    //       flex: 30%;
    //       border-radius: 0.5rem;
    //     }
    //   }
    // }
  }
}
