@import "./_presets.scss";
@media (min-width: 1025px) {
  #main {
    @include flexLayout(column);
    @include column(center);
    gap: 1rem;

    form {
      @include gridCenter;
      margin: 0 1rem;
      width: 85%;
      height: 5rem;
      margin: 3rem 0;

      .nav {
        @include flexLayout(row);
        @include row(center);
        @include column(center);
        width: 40%;
        padding: 0.9rem 0.9rem;

        .inputBox {
          width: 100%;
          padding: 0.5rem 3.5rem;
          border: none;
          outline: none;
          border: 1px solid #135bbf42;
          border: none;
          border-radius: 1.5rem;
          background: hsla(0, 0%, 0%, 0.418);
          color: hsl(0, 0%, 80%);
          font: 400 1.1rem $font-prim;
        }
        .searchBtn {
          position: absolute;
          left: 34%;
          border-radius: 1.2rem;
          padding: 0.38rem;
          background: hsla(0, 0%, 0%, 0.3);
        }
        .inputBox:focus {
          border: none;
        }
      }
    }
    .gallery {
      width: 85%;

      .galleryContainer {
        @include flexLayout(row wrap);
        @include row(center);
        padding: 0.5rem;
        max-width: 100%;
        gap: 2rem;
        list-style: none;

        li {
          @include flexLayout(column);
          @include column(center);
          gap: 0.3rem;
          max-width: 20rem;
          min-width: 20rem;
          flex: 28%;
          height: 17rem;
          border-radius: 0.4rem;
          overflow: hidden;

          img {
            position: relative;
            width: 100%;
            height: 100%;
          }
          p {
            position: relative;
            bottom: 50%;
            width: 100%;
            text-align: center;
            font: 500 1rem $font-prim;
            display: none;
          }
        }
        li:hover {
          p {
            display: block;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    @include flexLayout(column);
    @include column(center);
    gap: 1rem;

    form {
      @include gridCenter;
      width: 95%;
      height: 5rem;
      margin: 1rem 0;

      .nav {
        @include flexLayout(row);
        @include row(center);
        @include column(center);
        width: 70%;
        padding: 0.6em 0.9rem;

        .inputBox {
          width: 100%;
          padding: 0.6rem 3.5rem;
          border: none;
          outline: none;
          border: 1px solid #135bbf42;
          border: none;
          border-radius: 1.5rem;
          background: hsla(0, 0%, 0%, 0.418);
          color: $background-sec;
          font: 450 1rem $font-prim;
        }
        .searchBtn {
          position: absolute;
          left: 19%;
          border-radius: 1.2rem;
          padding: 0.38rem;
          background: hsla(0, 0%, 0%, 0.3);
        }
        .inputBox:focus {
          border: 1px solid hsla(0, 0%, 0%, 0.192);
        }
      }
    }
    .gallery {
      padding: 0.5rem;
      width: 85%;

      .galleryContainer {
        @include flexLayout(row wrap);
        @include row(center);
        max-width: 100%;
        gap: 2rem;
        list-style: none;

        li {
          @include flexLayout(column);
          @include column(center);
          gap: 0.3rem;
          max-width: 45%;
          min-width: 45%;
          height: 16rem;
          border-radius: 0.4rem;
          overflow: hidden;

          img {
            position: relative;
            width: 100%;
            height: 100%;
          }
          p {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #main {
    @include flexLayout(column);
    @include column(center);
    gap: 1rem;

    form {
      @include gridCenter;
      width: 95%;
      height: 5rem;
      margin: 1rem 0;
      position: relative;
      top: 4rem;

      .nav {
        @include flexLayout(row);
        @include row(center);
        @include column(center);
        width: 85%;
        padding: 0.9rem 0.9rem;

        .inputBox {
          width: 100%;
          padding: 0.75rem 3rem;
          border: none;
          outline: none;
          border: 1px solid #135bbf42;
          border: none;
          border-radius: 1.2rem;
          background: hsla(0, 0%, 0%, 0.418);
          color: $background-sec;
        }
        .searchBtn {
          position: absolute;
          left: 11.9%;
          border-radius: 1.2rem;
          padding: 0.38rem;
          background: hsla(0, 0%, 0%, 0.3);
          font: 400 1rem $font-prim;
        }
        .inputBox:focus {
          border: 1px solid hsla(0, 0%, 0%, 0.192);
        }
      }
    }
    .gallery {
      padding: 0.5rem;
      width: 95%;
      position: relative;
      top: 4rem;

      .galleryContainer {
        @include flexLayout(row wrap);
        @include row(center);
        max-width: 100%;
        gap: 2rem;
        list-style: none;

        li {
          @include flexLayout(column);
          @include column(center);
          gap: 0.3rem;
          width: 45%;
          height: 12rem;
          border-radius: 0.4rem;
          overflow: hidden;

          img {
            position: relative;
            width: 100%;
            height: 100%;
          }
          p {
            width: 100%;
            font: 450 0.78rem $font-prim;
            text-align: center;
          }
        }
      }
    }
  }
}
